*{
    margin: 0;
    padding: 0;
}


.contentWrap_hasMenu{
    margin:79px 1% 15px 15%;
    background-color:#fff;
    padding:20px;
}

.contentWrap_hasNoMenu{
    margin:79px 1% 15px 1%;
    background-color:#fff;
    padding:20px;
}