*{
    margin: 0;
    padding: 0;
}


.contentWrap_hasMenu{
    margin:79px 0 15px 258px;
    background-color:#fff;
    padding:20px;
    box-sizing: border-box;
}

.contentWrap_hasNoMenu{
    margin:79px 1% 15px 1%;
    background-color:#fff;
    padding:20px;
}